.user-1{
    color: white;
    font-weight: bold;
}
span{
    background: -webkit-linear-gradient(#eee, #91e8ee);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}
.bg{
    background: #02050e;
}